name: crud_todo_app
description: Create a To-do List app managing CRUD in Firebase and Flutter

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.0
  hooks_riverpod: ^0.12.4
  flutter_hooks: ^0.15.0
  get_it: ^5.0.1
  firebase_core: ^0.7.0
  cloud_firestore: "^0.16.0"
  intl: ^0.16.1
  uuid: ^2.2.2
  flutter_emoji: ">= 2.0.0"

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.9.0

flutter:

  uses-material-design: true

  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
