<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72673886041-6nv33uahcheebbaq9bv4e919a67u6h1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72673886041-6nv33uahcheebbaq9bv4e919a67u6h1q</string>
	<key>API_KEY</key>
	<string>AIzaSyBgK6skoWxnVOv6Iu1GWGIQs0PrS_1i8uk</string>
	<key>GCM_SENDER_ID</key>
	<string>72673886041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.fabian.crudTodoApp</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-a3896</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-a3896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72673886041:ios:4d3607876cf917a3</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-app-a3896.firebaseio.com</string>
</dict>
</plist>